.content {
    font-size: 1.6rem;
    font-family: 'Lexend', sans-serif;
    .box {
        position: relative;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
        padding: 24px 24px 32px;
        margin: 24px;
        border-radius: 8px;
        .box-title {
            margin-bottom: 12px;
        }
    }
    .absoluted-icon {
        cursor: pointer;
        padding: 6px;
        font-size: 1.6rem;
        color: var(--primary-color);
        position: absolute;
        top: 4px;
        right: 4px;
    }
    .info {
        margin-left: 64px;
        flex: 1;
    }
}

.card {
    border: 1px solid #c7c7c7;
    padding: 20px 24px;

    .strong-text {
        font-weight: 600;
        font-size: 2.2rem;
    }
    .normal-text {
        color: #a6a6a6;
        display: block;
        margin-top: 10px;
        max-width: 540px;
    }
    .contact-info {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    .cv {
        display: inline-block;
        padding-bottom: 4px;
        border-bottom: 1px solid #d5d5d5;
    }
}
.modal {
    font-family: 'Lexend', sans-serif;
    font-size: 1.6rem;
    .modal-header {
        font-size: 1.6rem;
        padding: 16px 16px 16px 32px;
    }
    .modal-title {
        font-size: 2rem !important;
        font-weight: 600;
    }
    .modal-body {
        padding: 24px 32px;
    }
}

.avatar {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.28);
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    overflow: hidden;
    .avatar-responsive {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}
.info {
    .contact-name {
        font-size: 2.8rem;
        font-weight: 600;
        margin-bottom: 8px;
    }
}
.info-item {
    color: #1c1c1c;
    margin-bottom: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    .info-icon {
        font-size: 1.5rem;
        margin-right: 6px;
    }
}

.edit-avatar {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 24px;
    label {
        cursor: pointer;
    }
}

.avatar-action {
    margin-top: 16px;
    display: inline-flex;
    gap: 24px;
    align-items: center;
    .change-avatar {
        color: var(--primary-color);
    }
    .delete-avatar {
        cursor: pointer;
    }
    .avatar-action_icon {
        margin-right: 4px;
    }
}

.form {
    .position-r {
        position: relative;
    }
    .mb-16 {
        margin-bottom: 16px;
    }
    .input {
        font-weight: 400;
        outline: none;
        padding: 1.6rem;
        height: 56px;
        width: 100%;
        border-radius: 4px;
        font-size: 1.6rem;
        border: 1px solid #dedede;
        padding-top: 1.625rem;
        padding-bottom: 0.625rem;
    }
    .show-text {
        padding-top: 6px;
    }

    .label-animate {
        transform: scale(0.85) translateY(-1rem) translateX(0.15rem);
    }

    .input:focus + label {
        transform: scale(0.85) translateY(-1rem) translateX(0.15rem);
    }

    .label {
        color: #a2a2a2;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        padding: 1.6rem 2.35rem;
        height: 100%;
        overflow: hidden;
        text-align: start;
        text-overflow: ellipsis;
        white-space: nowrap;
        pointer-events: none;
        border: var(--bs-border-width) solid transparent;
        transform-origin: 0 0;
        transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
    }

    .btn-uploadCV {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 56px;
        text-align: center;
        background-color: var(--primary-color);
        border-radius: 4px;
        color: #fff;
        font-size: 1.6rem;
    }
    .icon-required {
        color: red;
    }

    .selection {
        height: 56px;
    }
    .list-option {
        top: 56px;
    }
}
