@import 'normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #00b14f;
    --text-color: #212f3f;
    --white-color: #fff;
    --black-color: #000;
}

html {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'Lexend', sans-serif;
    text-rendering: optimizeSpeed;
}

a[href] {
    text-decoration: none;
}

ul {
    list-style-type: none;
    li {
        float: left;
    }
}

.btn {
    border-radius: 4px;
}

.direct-page {
    align-items: center;
    aspect-ratio: 1/1;
    border: 1px solid #00b14f;
    border-radius: 50%;
    color: #00b14f !important;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 32px;
}

.direct-page--disable {
    align-items: center;
    aspect-ratio: 1/1;
    border: 1px solid #b1b1b1;
    border-radius: 50%;
    color: #8a8a8a !important;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 32px;
}

.active {
    background-color: var(--primary-color) !important;
    color: #fff;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (min-width: 1200px) and (max-width: 1920px) {
    .container {
        width: 1170px !important;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .container-mini {
        max-width: 575.98px;
        margin: auto;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .container-mini {
        max-width: 575.98px;
        margin: auto;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .container-mini {
        max-width: 767.98px;
        margin: auto;
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .container-mini {
        max-width: 991.98px;
        margin: auto;
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    .container-mini {
        max-width: 1199.98px;
        margin: auto;
    }
}
