@import 'normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #00b14f;
    --text-color: #212f3f;
    --white-color: #fff;
    --black-color: #000;
}

html {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'Lexend', sans-serif;
    text-rendering: optimizeSpeed;
}

a[href] {
    text-decoration: none;
}

ul {
    list-style-type: none;
    li {
        float: left;
    }
}

.btn {
    border-radius: 4px;
}
