.wrapper {
    padding: 6px 11px;
    color: var(--text-color);
    font-size: 1.6rem;
    font-family: 'Lexend', sans-serif;
    cursor: pointer;
    &:hover {
        background-color: #ecfff0;
    }
}
