.content {
    .content-mini {
    }
}

.menu-action {
    background-color: #fff;
    height: 40px;
    align-items: center;
    gap: 12px;
    .menu-action_item {
        font-weight: 500;
        font-size: 1.6rem;
        cursor: pointer;
        margin-right: 40px;
        height: 40px;
        display: inline-flex;
        align-items: center;
        &:first-child {
            margin-left: 56px;
        }
    }
    .decor-number {
        margin-right: 4px;
        color: #fff;
        background-color: var(--primary-color);
        border-radius: 50%;
        height: 2.4rem;
        width: 2.4rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}

.content-mini {
    .gapping {
        gap: 6rem;
    }
    .position-r {
        position: relative;
    }
    .component {
        background-color: #fff;
        position: relative;
        margin-top: 40px;
        width: 100%;
        padding: 24px 40px 24px 60px;
    }
    .component-footer {
        display: flex;
        justify-content: space-between;
        margin: 30px 0;
        width: 100%;
        padding: 24px 0;
        .btn-discard,
        .btn-complete {
            padding: 6px 20px;
            font-size: 1.5rem;
        }
        .btn-complete {
            background-color: var(--primary-color);
            border-color: var(--primary-color);
            &:hover {
                background-color: var(--primary-color);
                border-color: var(--primary-color);
            }
        }
        .btn-discard {
            font-weight: 500;
            color: var(--text-color);
            border-color: #b1b1b1;
            background-color: #fff;
            &:hover {
                border-color: #b1b1b1;
                background-color: #fff;
            }
        }
    }
    .component-icon {
        position: absolute;
        top: 24px;
        left: 30px;
        transform: translateX(-50%);
        background-color: #e4ebe7;
        padding: 6px;
        border-radius: 50%;
    }
    .component-title {
        font-size: 1.6rem;
        font-weight: 600;
    }
    .split-component {
        position: absolute;
        top: 0;
        transform: translateY(-50%);
    }
    .add-address {
        display: inline-block;
        color: var(--primary-color);
        font-weight: 500;
        margin: 10px 0 10px;
        padding: 5px 30px 5px 0;
        cursor: pointer;
    }
    .benefit {
        white-space: nowrap;
        margin-right: 8px;
    }
    .text {
        height: 2.9rem;
        resize: none;
        width: 100%;
        border: none;
        border-bottom: 2px solid #b6beba;
        &:focus {
            outline: none;
            border-bottom: 2px solid #00b14f;
        }
    }
    .text::-webkit-scrollbar {
        display: none;
    }
}

.form-group {
    margin-top: 20px;
    .label {
        margin-bottom: 4px;
    }
    .label-strong {
        margin-bottom: 4px;
        font-weight: 600;
    }
    .label-horizontal {
        display: block;
        min-width: 100px;
        margin-right: 20px;
    }
    input {
        font-size: 1.5rem;
        border: none;
        width: 100%;
        padding: 7px 12px;
        outline: none;
        &:focus-within {
            border: none;
        }
    }
    .select {
        background-color: #fff;
        height: 40px;
        border: 1px solid #d8d8d8 !important;
        font-size: 1.5rem;
        border: none;
        width: 100%;
        padding: 7px 10px;
        outline: none;
        &:focus-within {
            border: none;
        }
    }
    .list-option {
        top: 40px;
    }
}

.input-group {
    padding: 7px 12px;
    display: flex;
    border: 1px solid #d8d8d8 !important;
    border-radius: 3px;
    .icon-box {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        color: var(--primary-color);
        font-size: 1.6rem;
    }
    .hide-password {
        color: #868686;
        cursor: pointer;
        svg {
            padding: 12px;
        }
    }
}
.error {
    display: flex;
    border: 1px solid red;
    border-radius: 3px;
    .icon-box {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        color: red;
        font-size: 1.6rem;
    }
    .hide-password {
        color: #868686;
        cursor: pointer;
        svg {
            padding: 12px;
        }
    }
}
