.wrapper {
}

.content {
    background: #fff 0 0 no-repeat padding-box;
    border-radius: 5px;
    box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.051);
    height: 400px;
    margin-bottom: 24px;
    overflow: hidden;
}
.company-banner {
    margin-bottom: 16px;
    .img-banner {
        width: 100%;
        height: auto;
    }
}

.company-info {
    padding: 0 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    .title {
        text-transform: uppercase;
        font-size: 1.6rem;
    }
    .description {
        font-size: 1.5rem;
        padding-top: 12px;
        text-overflow: ellipsis;
    }
}
